:root {
  --hue-main: 230;
  --hue-hili:  50;

  --boldmain:    hsl(var(--hue-main)  95% 60%); /* DARK BLUE */
  --boldhilite:  hsl(var(--hue-hili)  95% 60%); /* ORANGE */

  --litebg:      hsl(var(--hue-main)  67% 78%); /* LIGHT BLUE */
  --navhover:    hsl(var(--hue-hili)  67% 78%); /* LIGHT ORANGE */

  --darkborder:  hsl(var(--hue-main)  33% 67%); /* STEEL BLUE */

  --nearblack:   hsl(var(--hue-main)   0% 22%); /* DARK GRAY */
  --textgray:    hsl(var(--hue-main)   0% 78%); /* MID-GRAY */
  --whitetext:   WHITE;

  --readwidth: 60em;

  --cornerradius: 7pt;
  --solidborder: 1px solid var(--darkborder);
  --dottedborder: 1px solid var(--textgray);
}

*, #table-of-sections a {
    scroll-behavior: smooth;
    transition: color 0.15s, background-color 0.15s;
    box-sizing: border-box;
}