#header {
    border-bottom: var(--solidborder);
}
#header, #footer {
    background-color: var(--nearblack);
    overflow: hidden;
}
#footer {
    border-top: var(--solidborder);
}

#table-of-sections {
    order: -1; /* Place TOC first */
    overflow: hidden;
    display: flex-column;
    column-width: 4em;
    column-gap: 3px;

    max-width: var(--readwidth);
    margin: 10px clamp(30px, 50vw, (100vw - var(--readwidth)) / 2 + 30px);
    border: var(--solidborder);
    border-radius: var(--cornerradius);

    column-rule: var(--dottedborder);
}


/* .headfoot = header, footer, and table-of-sections */

.headfoot {
    flex: none;
}

.headfoot a {
    float: left;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: var(--cornerradius);
}
#header a, #footer a {
    color: var(--whitetext);
    font-size: 1.05em;
    padding: 0.8em 1em;
}
#table-of-sections a {
    color: var(--nearblack);
    width: 100%;
    padding: 0.4em 0;
    margin-right: 0.5em;
}


.headfoot a:hover,
.headfoot a.split:hover,
.headfoot a.title:hover {
    background-color: var(--navhover);
    color: black !important;
}

.headfoot a.title,
.headfoot a.split {
    background-color: var(--boldmain);
    color: var(--whitetext);
    font-weight: bold;
    border-radius: 0;
}

/* Create a right-aligned (split) link inside the navigation bar */
#header a.split {
    float: right;
}