*, #table-of-sections a {
    scroll-margin-top: 0.65em;
}

/* .panel a:not(#table-of-sections a):not(a.glossary-entry) {transition: none;} */

.translation > * {
	grid-column: 2;
}

.translation {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr min(var(--readwidth), 100%) 1fr;

    p {
        position: relative; /* Enables positioning for the ::before pseudo-element */
        margin: 0;
        padding-left: 1.8em; /* Aligns the text flush */
        text-indent: 0; /* Keeps all lines flush with each other */
        hyphenate-character: "\2013";
        word-wrap: anywhere;
    }
}

#footer {
	grid-column: 1 / -1;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.3em; /* line spacing */
    padding: 0;
    margin: 0;
    font-family: serif;
    position: relative;
}

p {
    display: block;
}

.content-container {
    display: flex;
    flex: 1; /* This makes sure the content takes up the remaining space */
    overflow: hidden; /* Prevent content from overflowing the container */
}
.panel {
    width: 100%;
    overflow-y: auto; /* Allow scrolling */
    box-sizing: border-box;
}
.translation {
    word-wrap: break-word;
}

.match {
    background-color: var(--boldhilite);
    border-radius: var(--cornerradius);
}

@media print {
    body {
        font-size: 12pt;
    }
    #printable {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-fill: balance; /* Creation of columns is symmetrical. */
        column-gap: 2em; /* Distance between columns */
        column-rule: 1px solid black; /* Lines between columns */
        column-width: auto; /* Width of all columns */
    }
    .panel {
        display: flow;
        overflow-y: visible; /* Do not crop for scrolling */
    }
    .translation {
        padding: 0;
    }



    #header, #table-of-sections {
        display: none !important;
    }
    #footer {
        border: none;
        background: none;
        margin-top: 2em;
    }
    #footer > a:link, #footer > a:visited {
        color: black;
        text-decoration: none;
    }
    #footer > .title::after {
        content: " / ";
    }
}