SPAN {
    box-sizing: content-box;
}

.edit, p.subtitle {
    color: gray;
}

/* SOLID, COLORED UNDERLINE => GENDER */
.m, .f, .c {
    border-bottom: 1px solid;
}
.m {
    border-bottom-color: #99f !important;
    border-radius: 0%;
}
.f {
    border-bottom-color: #f66 !important;
    border-radius: 50%;
}
.c {
    border-bottom-color: #888 !important;
    border-radius: 100pt;
}


/* GRAY SUB-UNDERLINE, DASHED or CAPPED => ASPECT */
.i, .p {
  position: relative;
}
.i::after, .p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 15%;
    width: 70%;
    border: 1px solid #666;
}
.i::after {
    border-style: none none dashed none; /* BOTTOM ONLY */
}
.p::after {
    height: 1px;
    border-style: none solid solid solid;  /* BOTTOM + SIDES */
}