#header,
#table-of-sections {
    border-bottom: solid;
}

#table-of-sections {
    order: -1;

    display: flex-column;
    column-width: 2em;
    column-gap: 0;
}

.headfoot {
    flex: none;
}
.headfoot a {
    float: left;
    text-align: center;
    padding: 0.8em 1em;
}
#table-of-sections a {
    width: 100%;
    padding: 0.4em 0;
    margin-right: 0.5em;
}

#header a.split {
    float: right;
}