html #translation {
    p,
    p.in1,
    p.in2 {
        padding-left: 4em; /* Aligns the text flush */
    }

    /* VERSE and CHAPTER NUMBERING */

    p::before,
    span.inline,
    p.chapter::before,
    span.inline.chapter {
        font-size: 60%;
        font-weight: normal;
        left: 0;
        width: 6.66em;
    }

    p::before {
        content: attr(data-cit); /* Displays the paragraph number */
        text-align: left; /* Aligns the number to the right within its box */
    }

    a {
        border-radius: var(--cornerradius);
    }
}