@import "styles-paragraph.css";
@import "styles-span.css";
@import "styles-headfoot.css" screen;

:root {
  --textgray:    hsl(0   0% 78%); /* MID-GRAY */
}

*, #table-of-sections a {
    scroll-margin-top: 0.65em;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    line-height: 1.3em; /* line spacing */
    padding: 0;
    margin: 0;
    font-family: serif;
}

.content-container {
    display: flex;
    flex: 1; /* This makes sure the content takes up the remaining space */
    overflow: hidden; /* Prevent content from overflowing the container */
}
.panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto; /* Allow scrolling */
    box-sizing: border-box;
}
#translation {
    padding: 1em;
}