:root {
  --boldmain:    BLACK !important; /* DARK BLUE */
  --boldhilite:  #C7C7C7 !important; /* ORANGE */

  --litebg:      BLACK !important; /* LIGHT BLUE */
  --navhover:    #C7C7C7 !important; /* LIGHT ORANGE */

  --darkborder:  BLACK !important; /* STEEL BLUE */

  --nearblack:   BLACK !important; /* DARK GRAY */
  --textgray:    #C7C7C7 !important; /* MID-GRAY */
  --whitetext:   WHITE !important;

  --readwidth: 60em;

  --cornerradius: 0;
  --solidborder: 1px solid var(--darkborder);
  --dottedborder: 1px solid var(--darkborder);
}

* {
    transition: initial !important;
    scroll-behavior: initial !important;
}